@model IEnumerable<GameListRow>

@*
    This is structured as a <table> for semantics/accessibility purposes, but the default UA styles are overridden with
    a CSS grid to allow for responsive layout (moving the links to a second row to avoid horizontal scrolling).
*@

<table class="game-list">
    <thead>
        <tr>
            <th>@Strings.GameListHeaderGame</th>
            <th>@Strings.GameListHeaderCopyright</th>
            <th>@Strings.GameListHeaderLinks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GameListRow row in Model)
        {
            <tr>
                <td class="game-title">
                    <div class="game-icon" style="--sprite-index: @((int)row.Source)"></div>
                    <span>@row.Game</span>
                </td>
                <td class="game-copyright">
                    <span>©</span> @row.Copyright
                </td>
                <td class="game-links">
                    @for (int i = 0; i < row.Links.Count; i++)
                    {
                        ExternalLink link = row.Links[i];

                        if (i > 0)
                        {
                            <text> / </text>
                        }

                        <a href="@link.Url" target="_blank" rel="external noreferrer">@link.Label</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
