@{
    var routeValues = Context.GetRouteData().Values
        .Where(x => x.Key != "lang" && x.Value is string)
        .ToDictionary(x => x.Key, x => (string)x.Value!);

    string? query = routeValues.GetValueOrDefault("query");
}

<header class="site-header">
    <h1>
        <a asp-action="Home" aria-label="Serifu.org"><img vite-src="/images/serifu.svg" aria-hidden="true" /></a>
    </h1>
    <nav>
        <div class="menu-start">
            <a asp-action="About">@Strings.NavLinkAbout</a>
            <a href="https://github.com/maxkagamine/Serifu.org" target="_blank" rel="external noreferrer">@Strings.NavLinkGitHub</a>
            @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
            {
                <a asp-all-route-data="routeValues" asp-route-lang="ja" lang="ja" hreflang="ja" data-search="@query">日本語</a>
            }
            else
            {
                <a asp-all-route-data="routeValues" asp-route-lang="en" lang="en" hreflang="en" data-search="@query">English</a>
            }
        </div>
        <div class="menu-end">
            @Strings.NavSubtitle
        </div>
    </nav>
    <div id="drawer" hidden></div>
    <div id="drawerBackdrop"></div>
    @* By putting the menu button after the drawer, when the user tabs past the last item, they'll be back at the button *@
    <button id="menuButton" class="icon icon-menu" aria-label="@Strings.MenuButtonLabel"></button>
</header>
