@{
    var routeValues = Context.GetRouteData().Values
        .Where(x => x.Key != "lang" && x.Value is string)
        .ToDictionary(x => x.Key, x => (string)x.Value!);
}

<header>
    <h1>
        <a asp-action="Home" aria-label="Serifu.org"><img src="/serifu.svg" aria-hidden="true" /></a>
    </h1>
    <nav>
        <a asp-action="About">@Strings.NavLinkAbout</a>
        <a href="https://github.com/maxkagamine/Serifu" target="_blank" rel="external noreferrer">@Strings.NavLinkGitHub</a>
        @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
        {
            <a asp-all-route-data="routeValues" asp-route-lang="ja" lang="ja" hreflang="ja">日本語</a>
        }
        else
        {
            <a asp-all-route-data="routeValues" asp-route-lang="en" lang="en" hreflang="en">English</a>
        }
        <span class="subtitle">@Strings.NavSubtitle</span>
    </nav>
    <button popovertarget="drawer" class="menu-button material-symbols-outlined">menu</button>
</header>

<div popover id="drawer">
    <nav>
        <a asp-action="About">@Strings.NavLinkAbout</a>
        <a href="https://github.com/maxkagamine/Serifu" target="_blank" rel="external noreferrer">@Strings.NavLinkGitHub</a>
        @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
        {
            <a asp-all-route-data="routeValues" asp-route-lang="ja" lang="ja" hreflang="ja">日本語</a>
        }
        else
        {
            <a asp-all-route-data="routeValues" asp-route-lang="en" lang="en" hreflang="en">English</a>
        }
    </nav>
    <div class="subtitle">@Strings.NavSubtitle</div>
</div>
