@model QuoteViewModel
@inject IOptions<SerifuOptions> Options
@{
    string linksId = $"source-links-{Model.Id}";
}

<li id="quote-@Model.Id" class="quote">
    <partial name="Translation" model="Model.Left" />
    <partial name="Translation" model="Model.Right" />
    <div class="source">
        <div class="game-icon" style="--sprite-index: @((int)Model.Source)"></div>
        <button
            popovertarget="@linksId"
            class="source-title"
            style="anchor-name: --@linksId"
        >
            @Strings.GetResourceString($"SourceTitle_{Model.Source}")
        </button>
        <div class="source-copyright" data-nosnippet>
            <span>©</span> @Strings.GetResourceString($"SourceCopyright_{Model.Source}")
        </div>
    </div>
    <div
        popover
        id="@linksId"
        class="source-links popover"
        style="position-anchor: --@linksId"
    >
        @foreach (ExternalLink link in Options.Value.SourceLinks[Model.Source])
        {
            if (link.Language is not null && link.Language != CultureInfo.CurrentCulture.TwoLetterISOLanguageName)
            {
                continue;
            }

            <a href="@link.Url" target="_blank" rel="external noreferrer">@link.Label</a>
        }
    </div>
</li>
