<form
    asp-action="Home"
    method="get"
    id="searchBox"
    role="search"
    autocomplete="off"
    data-route-template="@Url.Action("Results", new { query = "__QUERY__" })"
    data-too-short="@Strings.ValidationErrorTooShort"
    data-too-long="@Strings.ValidationErrorTooLong"
>
    <input name="query" placeholder="@Strings.SearchBoxPlaceholder" value="@Context.GetRouteValue("query")" />

    <!--
    For animation purposes, the stroke length is centered on its midpoint, and the
    offset starts at 0. The shape's origin is therefore placed 1/8th down so that
    the stroke starts exactly halfway down and extends to the right 1/3 its length.
    -->
    <svg viewBox="0 0 8 8" preserveAspectRatio="none">
        <polygon vector-effect="non-scaling-stroke" points="0,1 0,0 8,0 8,8 0,8" />
    </svg>
</form>

<!-- Firefox workaround, see css -->
<style id="searchBoxKeyframes"></style>

<autocomplete-list class="popover-like" lang="en" hidden></autocomplete-list>
