@model TranslationViewModel

<div class="translation" aria-label="@(Model.Language == "en" ? Strings.English : Strings.Japanese)">
    <div class="translation-actions">
        @if (Model.HasAudioFile)
        {
            <button title="@Strings.AudioButtonLabel" aria-label="@Strings.AudioButtonLabel">
                <span class="material-symbols-outlined" aria-hidden="true">volume_up</span>
            </button>
        }
        @if (Model.HasNotes)
        {
            <button title="@Strings.NotesButtonLabel" aria-label="@Strings.NotesButtonLabel">
                <span class="material-symbols-outlined" aria-hidden="true">description</span>
            </button>
        }
    </div>
    <div class="translation-quote" lang="@Model.Language">
        <blockquote>@Model.Text</blockquote>
        <cite>@(Model.HasSpeakerName ? Model.SpeakerName : Strings.UnknownSpeakerName)</cite>
    </div>
</div>
