@model TranslationViewModel
@{
    string notesId = $"translation-notes-{Model.Quote.Id}-{Model.Language}";

    string speakerName = Model.HasSpeakerName ? Model.SpeakerName : Model.Language == "en" ? "Unknown" : "不明";
    string? context = Model.HasContext ? Model.Context : null;
}

<div class="translation" aria-label="@(Model.Language == "en" ? Strings.English : Strings.Japanese)">
    <div class="translation-actions">
        @if (Model.HasAudioFile)
        {
            <audio-button
                role="button"
                tabindex="0"
                title="@Strings.AudioButtonLabel"
                aria-label="@Strings.AudioButtonLabel"
            >
                <i class="icon icon-play"></i>
                <audio src="@Model.AudioFileUrl" preload="none" hidden></audio>
            </audio-button>
        }
        @if (Model.HasNotes)
        {
            <button
                title="@Strings.NotesButtonLabel"
                aria-label="@Strings.NotesButtonLabel"
                popovertarget="@notesId"
                style="anchor-name: --@notesId"
            >
                <i class="icon icon-notes"></i>
            </button>

            <div
                popover
                id="@notesId"
                class="translation-notes popover"
                style="position-anchor: --@notesId"
            >
                @* Notes contains sanitized html *@
                @Html.Raw(Model.Notes)
            </div>
        }
    </div>
    <div class="translation-quote" lang="@Model.Language">
        <blockquote>@Model.Text</blockquote>
        <cite title="@context">@speakerName</cite>
    </div>
</div>
