@model TranslationViewModel
@{
    string notesId = $"translation-notes-{Model.Quote.Id}-{Model.Language}";
}

<div class="translation" aria-label="@(Model.Language == "en" ? Strings.English : Strings.Japanese)">
    <div class="translation-actions">
        @if (Model.HasAudioFile)
        {
            <audio-button
                title="@Strings.AudioButtonLabel"
                aria-label="@Strings.AudioButtonLabel"
            >
                <i class="icon icon-play"></i>
                <audio src="@Model.AudioFileUrl" preload="none" hidden />
            </audio-button>
        }
        @if (Model.HasNotes)
        {
            <button
                title="@Strings.NotesButtonLabel"
                aria-label="@Strings.NotesButtonLabel"
                popovertarget="@notesId"
                style="anchor-name: --@notesId"
            >
                <i class="icon icon-notes"></i>
            </button>

            <div
                popover
                id="@notesId"
                class="translation-notes popover"
                style="position-anchor: --@notesId"
            >
                @* Notes contains sanitized html *@
                @Html.Raw(Model.Notes)
            </div>
        }
    </div>
    <div class="translation-quote" lang="@Model.Language">
        <blockquote>@Model.Text</blockquote>
        @if (Model.HasSpeakerName)
        {
            <cite>@Model.SpeakerName</cite>
        }
        else
        {
            <cite>@(Model.Language == "en" ? "Unknown" : "不明")</cite>
        }
    </div>
</div>
