@using Serifu.Data
@model TranslationViewModel
@{
    string notesId = $"translation-notes-{Model.Quote.Id}-{Model.Language}";

    string speakerName = Model.HasSpeakerName ? Model.SpeakerName : Model.Language == "en" ? "Unknown" : "不明";
    string? context = Model.HasContext ? Model.Context : null;
}

<div class="translation">
    <div class="translation-actions">
        @if (Model.HasAudio)
        {
            <audio-button
                role="button"
                tabindex="0"
                title="@Strings.AudioButtonLabel"
                aria-label="@Strings.AudioButtonLabel"
            >
                <i class="icon icon-play"></i>
                <audio preload="none" hidden>
                    @foreach (AudioSource source in Model.AudioSources)
                    {
                        <source src="@source.Src" type="@source.Type" />
                    }
                </audio>
            </audio-button>
        }
        @if (Model.HasNotes)
        {
            <button
                title="@Strings.NotesButtonLabel"
                aria-label="@Strings.NotesButtonLabel"
                popovertarget="@notesId"
                style="anchor-name: --@notesId"
            >
                <i class="icon icon-notes"></i>
            </button>

            <div
                popover
                id="@notesId"
                class="translation-notes popover"
                style="position-anchor: --@notesId"
            >
                @Model.Notes
                @if (Model.Quote.Source == Source.Kancolle)
                {
                    <br />
                    <text>Source: <a href="https://en.kancollewiki.net/@Model.Quote.EnglishSpeakerName" target="_blank" rel="external noreferrer">Kancolle Wiki</a></text>
                }
            </div>
        }
    </div>
    <div class="translation-quote" lang="@Model.Language">
        <blockquote>@Model.Text</blockquote>
        <cite title="@context">@speakerName</cite>
    </div>
</div>
